.HubImg {
    margin-bottom: -70px;
    margin-top: -20px;
    margin-left: -40px;
}

.HubDis {
    margin-top: 30px;
    margin-bottom: 10px;
}

.theme {
    color: lightseagreen;
    margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.liList {
    margin-top: 15px;
    margin-bottom: 15px;
}